#profile-image {
  max-width: 100%;
}

.dev-icons {
  font-size: 3.5rem;
  height: 3.5rem;
}

.project-image {
  max-height: 300px;
}

a.nav-link.active  {
  color: white;
}

a.nav-link:hover  {
  color: white;
}

.navbar-nav .nav-item{
  text-align: right;
}

section[id]:before {
  display: block;
  height: 72px;
  margin-top: -72px;
  visibility: hidden;
  content: "";
}

.card-title {
  font-weight: bold;
}